<!DOCTYPE html>
<html>
<head>
  <title>Gerenciamento de Turma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



<footer>
  <div class="container">
    VoiceAnswer
  </div>
</footer>

</body>
</html>
